.form-container {
    margin: 2rem auto;
    display: block;
    position: relative;
    width: 30%;
    text-align: center;
    background-color: #c06434;
    aspect-ratio: 1.2;
}

body {
    margin: 0 auto;
    font-family: Arial;
    background-color: black;
    color: white;
}

input {
    width: 15vw;
    height: 2vw;
}




.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

.container {
    margin-top: 3vw;
}

#back {
    display: inline-block;
    float: left;
    position: relative;
    top: 46vh;
    left: 2vw;
}

#back:hover {
    cursor:pointer;
}

#backArrow {
    margin-bottom: 2vh;
    margin-left: 1vw;
    width: 130px;
    height: 150px;
    cursor: pointer;
    transform: rotate(-90deg);
}

#heading {
    display: block;
    margin: auto;
    padding-bottom: 5vw;
    width: 85%;
    height: 12%;
}

h3, h4 {
    color: white;
    font-size: 2vw;
    font-family: 'Press Start 2P', cursive;
    margin: 1vw;
    margin-top: 0;
}

h1 {
    color: white;
    font-size: 2.5vw;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 1px 1px 5px black;
    padding-top: 3vw;
}

#loginForm > label {
    font-family: "VT323" , fantasy;
    font-size: 2em;
    text-shadow: 1px 1px 2px black;
}

#loginForm > * {
    margin-bottom: 10%;
}

#loginForm > input {
    background-color: #cbcbcb;
}

input::placeholder {
    color: black;
    font-weight: 600;
}

form i {
    position: relative;
    left: -10px;
    margin-left: -20px;
    cursor: pointer;
}

#loginButton {
    font-weight: 500;
    font-size: 2em;
    width: 40%;
    height: 1.5em;
    margin-bottom: 15px;
    color: white;
    background-color: black;
    font-family: "VT323", fantasy;
}

#loginButton:hover {
    cursor: pointer;
}

#loginButton:active {
    color: gray;
    padding: 6px 4px 4px 4px;
}

#black1 {
    position: absolute;
    background-color: black;
    width: 20px;
    height: 20px;
    left: 20px;
    top: 20px;
}

#black2 {
    position: absolute;
    background-color: black;
    width: 20px;
    height: 20px;
    right: 20px;
    top: 20px;
}

#black3 {
    position: absolute;
    background-color: black;
    width: 20px;
    height: 20px;
    right: 20px;
    bottom: 20px;
}

#black4 {
    position: absolute;
    background-color: black;
    width: 20px;
    height: 20px;
    left: 20px;
    bottom: 20px;
}