.form-container {
    margin: 2rem auto;
    display: block;
    position: relative;
    width: 30%;
    text-align: center;
    background-color: #c06434;
    aspect-ratio: 1.2;
}

body {
    margin: 0 auto;
    font-family: Arial;
    background-color: black;
    color: white;
}

input {
    width: 15vw;
    height: 2vw;
}


.form-container input {
    margin-bottom: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

.container {
    margin-top: 3vw;
}

#backArrow {
    margin-top: 2vh;
    margin-left: 1vw;
    width: 100px;
    height: 81px;
    cursor: pointer;
}

#heading {
    width: 50vw;
}

h3, h4 {
    color: white;
    font-size: 2.5vw;
    font-family: 'Press Start 2P', cursive;
    display: inline-block;
    margin: 1vw;
}

h1 {
    color: white;
    font-size: 2.5vw;
    font-family: 'Press Start 2P', cursive;
    padding-top: 3vw;
}

#loginButton {
    border-radius: 5px;
    font-weight: 500;
    font-size: 24px;
    width: 25%;
    margin-bottom: 15px;
}

#black1 {
    position: absolute;
    background-color: black;
    width: 20px;
    height: 20px;
    left: 20px;
    top: 20px;
}

#black2 {
    position: absolute;
    background-color: black;
    width: 20px;
    height: 20px;
    right: 20px;
    top: 20px;
}

#black3 {
    position: absolute;
    background-color: black;
    width: 20px;
    height: 20px;
    right: 20px;
    bottom: 20px;
}

#black4 {
    position: absolute;
    background-color: black;
    width: 20px;
    height: 20px;
    left: 20px;
    bottom: 20px;
}