.form-container {
    margin: 2rem auto;
    display: block;
    width: 25rem;
    text-align: center;
    background-image: url("https://lamp-cop4331.skyclo.dev/images/board.png");
    background-size: 30rem 16rem;
    background-repeat: no-repeat;
    background-position: center;
}

body {
    margin: 0 auto;
    font-family: Arial;
    background-color: black;
    color: white;
}

.form-container input {
    margin-bottom: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

.container {
    margin-top: 12rem;
}

#backArrow {
    margin-top: 2vh;
    margin-left: 1vw;
    width: 100px;
    height: 81px;
}

h3, h4 {
    color: white;
    font-size: 2.5vw;
    font-family: 'Press Start 2P', cursive;
    display: inline-block;
    margin: 1vw;
}
