body {
    height: 100vh;
    margin: 0px 0px 0px 0px;
    background-color: #B4B8DB;
}

#right {
    background-image: url("../images/friends.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 4px 6px rgb(110, 110, 110);
    
}

h1, label, #loginButton {
    font-family: 'Nunito', sans-serif;
}

#motto {
    text-align: center;
    font-size: 3.0em;
    font-family: 'anybody', cursive;
    color: black;
}

#head-bar {
    width: 100%;
    height: auto;
    display: inline-block;
    top: 0px;

    
}

#head-bar, nav {
    background: url("https://lamp-cop4331.skyclo.dev/images/black-marble-natural-pattern-background-abstract-black-white.jpg") repeat;
}

.nav-link {
    color: white;
}

#logo-image {
    margin: 10px;
}


#corner-logo {
    width: 11%;
    height: auto;
    float: left;
    border-right: solid grey;
    display: inline;
}

#COP {
    display: inline;
}

.logo-text {
    display: inline;
    width: 1vw;
}

#logo {
    width: 70%;
    height: 100%;
    float: left;
    border-radius: 50%;
    margin-left: 8px;
}

.logo-text {
    text-align: right;
    font-size: 2vw;
    color: white;
    font-family: monospace;
    margin: 8px 8px 0px 10px;
}

#brand-container {
    height: 100%;
    width: 80%;
    color: white;
    font-size: large;
    float: right;
}

#brand {
    margin-left: 160px;
    line-height: 87px;
}

#signIn {
    height: max-content;
    float: right;
    left: 1vw;
    background-color: lightgrey;
    box-shadow: 3px 6px rgb(110, 110, 110);
    
}

#main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 6vw;
    column-gap: 3vw;
    margin: 3vw 3vw;
}

#retUser {
    margin-left: 15px;
    margin-top: 1vw;
}

.info {
    display: flex;
    flex-direction: column;
    padding-bottom: 3vw;
    background-color: lightgrey;
    /*border: black groove;*/
    box-shadow: 4px 6px rgb(110, 110, 110);
    border-bottom-right-radius: 20px;
}

#about {
    text-align: center;
    font-size: 2.0em;
    font-family: 'Montserrat', 'Lucida Console';
    margin: 0px 2vw 0px 2vw;
}

#regNow {
    font-size: 1.5em;
    font-family: 'Montserrat';
    margin-left: 3vw;
    margin-top: 1vw;
}

#register-form {
    margin-left: 3vw;
}

#register-form > input{
    margin-top: 12px;
    width: 60%;
}

#loginForm {
    margin-left: 1vw;
}

#loginForm > input {
    width : 85%;
}

#invalidLabel {
    color: maroon;
    display: none;
    margin-bottom: 15px;
    margin-right: 10px;
}

#invalidPass {
    color: maroon;
    display: none;
    margin-bottom: 15px;
}

#regButton {
    border-radius: 5px;
    margin-top: 5px;
    font-size: 24px;
    width: 9em;
    height: 1.8em;
}

#regButton:hover {
    background-color: #B4B8D8;
}

button:active {
    padding: 3px 4px 3px 6px;
}

input {
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 16px;
}

h1 {
    font-family: 'Anybody', cursive;
    color: white;
    vertical-align: middle;
    display: inline-block;
    font-size: 4vw;
    padding: 30px 0px 0px 30px;
    text-shadow: rgb(71, 71, 71) 0px 3px;
}

#loginButton {
    border-radius: 10px;
    background-color: #B4B8DB;
    font-weight: 500;
    font-size: 24px;
    width: 25%;
    margin-bottom: 15px;
}

#loginButton:hover {
    background-color: #D9DCFF;
}