#user {
    text-align: right;
    color: white;
    text-shadow: 1px 1px 2px black;
    margin-right: 30px;
}

#logout {
    float: right;
    margin-right: 30px;
    border-radius: 5px;
}

#searchAddBar {
    margin-top: 40px;
    margin-left: 25%;
}

#searchAddBar button {
    border-radius: 5px;
    margin-left: 10px;
}

#searchAddBar > input:placeholder-shown {
    font-style: italic;
}

#searchButton {
    cursor: pointer;
}

input#searchBar {
    width: 40%;
}

#searchAddBar img {
    width: 35px;
    height: 35px;
}

#menuBox {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
    padding-bottom: 100px;
    background-color: lightgrey;
    border: 7px #898989 ridge;
}

#grid {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr 2fr;
}


#grid > * {
    margin: 10px 10px 0px 10px;
}

#grid > .header {
    font-size: 20px;
    border-bottom-style: solid;
    border-bottom-color: gray;
}

.checkOrX {
    display: flex;
    justify-content: space-around;
}

.checkOrX > * {
    width: 3vw;
    cursor: pointer;
}

.hide, .hide > * {
    display: none;
}

