.form-container {
    margin: 2rem auto;
    display: block;
    position: relative;
    text-align: center;
    width: 50%;
    background-color: #c06434;
    aspect-ratio: 10/6;
}

.flex-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
}

body {
    margin: 0 auto;
    font-family: Arial;
    background-color: black;
    color: white;
}

input {
    width: 20vw;
    height: 2vw;
    font-size: 1.2em;
    min-width: 130px;
    min-height: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

.container {
    margin-top: 3vw;
}

#back {
    display: inline-block;
    float: left;
    position: relative;
    top: 53vh;
    left: 2vw;
}

    #back:hover {
        cursor: pointer;
    }

#backArrow {
    margin-bottom: 2vh;
    margin-left: 1vw;
    width: 130px;
    height: 150px;
    cursor: pointer;
    transform: rotate(-90deg);
}

#heading {
    display: block;
    margin: auto;
    padding-bottom: 1vw;
    width: 85%;
    height: 12%;
}

h3, h4 {
    color: white;
    font-size: max(2vw, 20px);
    font-family: 'Press Start 2P', cursive;
    margin: 1vw;
    margin-top: 0;
}

h1 {
    color: white;
    font-size: 2.5vw;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 1px 1px 5px black;
    padding-top: 3vw;
}

#regForm {
    margin-top: 4vh;
}

    .flex-form > label {
        font-family: "VT323", fantasy;
        font-size: 2.5vw;
        margin-right: 20px;
        text-shadow: 1px 1px 2px black;
    }

    .flex-form > * {
        margin-bottom: 5%;
    }

    .flex-form > input, span > input {
        background-color: #cbcbcb;
    }

    .flex-form:first-child {
        text-align: left;
    }

input::placeholder {
    color: black;
    font-weight: 600;
}

span i {
    position: relative;
    left: -10px;
    margin-left: -20px;
    color: black;
    cursor: pointer;
}

#regButton:hover {
    cursor: pointer;
}

#regButton:active {
    color: gray;
    padding: 6px 4px 4px 4px;
}

#regButton {
    font-weight: 500;
    font-size: 2.5em;
    width: 30%;
    min-width: fit-content;
    height: 1.5em;
    margin-bottom: 15px;
    color: white;
    background-color: black;
    font-family: "VT323", fantasy;
}

#invalidText {
    margin-top: 0px;
    font-size: 1.6em;
    font-family: 'VT323';
    display: none;
    margin-bottom: 2vw;
    color: #ad0000;
    text-shadow: 1px 1px 1px black;
}

#black1 {
    position: absolute;
    background-color: black;
    width: 50px;
    height: 35px;
    left: 20px;
    top: 20px;
}

#black2 {
    position: absolute;
    background-color: black;
    width: 50px;
    height: 35px;
    right: 20px;
    top: 20px;
}

#black3 {
    position: absolute;
    background-color: black;
    width: 50px;
    height: 35px;
    right: 20px;
    bottom: 20px;
}

#black4 {
    position: absolute;
    background-color: black;
    width: 50px;
    height: 35px;
    left: 20px;
    bottom: 20px;
}

@media screen and (max-width: 720px) {

    #back {
        display: inline-block;
        float: left;
        position: relative;
        top: 42vh;
        left: 2vw;
    }

    #loginButton {
        font-weight: 500;
        font-size: 24px;
        width: 30%;
        min-width: 130px;
        height: 1.5em;
        margin-bottom: 15px;
        color: white;
        background-color: black;
        font-family: "VT323", fantasy;
    }

    #black1 {
        position: absolute;
        background-color: black;
        width: 25px;
        height: 25px;
        left: 20px;
        top: 20px;
    }

    #black2 {
        position: absolute;
        background-color: black;
        width: 25px;
        height: 25px;
        right: 20px;
        top: 20px;
    }

    #black3 {
        position: absolute;
        background-color: black;
        width: 25px;
        height: 25px;
        right: 20px;
        bottom: 20px;
    }

    #black4 {
        position: absolute;
        background-color: black;
        width: 25px;
        height: 25px;
        left: 20px;
        bottom: 20px;
    }
}
