body {
    height: 100vh;
    margin: 0px 0px 0px 0px;
    background-color: lightslategrey;
}

h1, label, #loginButton {
    font-family: 'Nunito', sans-serif;
}

#motto {
    text-align: center;
    font-size: 3.0em;
    font-family: 'Noto+Sans', sans-serif;
    margin-top: 60px;
}

#head-bar {
    width: 100%;
    height: 134px;
    display: inline-block;
    position: fixed;
    top: 0px;
    background: url("https://lamp-cop4331.skyclo.dev/images/black-marble-natural-pattern-background-abstract-black-white.jpg") repeat;
}

#corner-logo {
    width: 11%;
    height: 100%;
    float: left;
    border-right: solid grey;
}

#logo {
    width: 70%;
    height: 100%;
    float: left;
    border-radius: 50%;
    margin-left: 8px;
}

.logo-text {
    text-align: right;
    font-size: 28px;
    color: white;
    font-family: monospace;
    margin: 8px 21px 0px 0px;
}

#brand-container {
    height: 100%;
    width: 80%;
    color: white;
    font-size: large;
    float: right;
}

#brand {
    margin-left: 160px;
    line-height: 87px;
}

#signIn {
    width: 18.7%;
    height: 31.5%;
    float: right;
    background-color: lightgrey;
    border: #9b9b9b groove;
}

#retUser {
    margin-left: 15px;
}

form.login-form {
    width: 150px;
    margin-left: 60px;
}

.info {
    display: flex;
    flex-direction: column;
    width: 69.1%;
    height: 100%;
    margin-top: 134px;
    margin-left: 11.1%;
    margin-right: auto;
    background-color: lightgrey;
    border: 7px #898989  ridge;
}

#about {
    text-align: center;
    font-size: 2.0em;
    font-family: 'Montserrat', 'Lucida Console';
}

#regNow {
    font-size: 1.5em;
    margin-left: 50px;
    font-family: 'Montserrat';
}

#register-form {
    margin-left: 100px;
}

#register-form > input {
    margin-top: 12px;
    width: 40%;
}

#regButton {
    border-radius: 5px;
    margin-top: 5px;
    width: 9em;
    height: 1.8em;
}

#regButton:hover {
    background-color: #b5b5b5;
}

input {
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 16px;
}

#loginButton {
    border-radius: 10px;
    background-color: rgb(126, 178, 178);
    font-weight: 500;
    font-size: 24px;
    width: 50%;
    margin-bottom: 15px;
}