body {
    height: 100vh;
    margin: 0px 0px 0px 0px;
    background-color: #7795C7;
}

h1, label, #loginButton {
    font-family: 'Nunito', sans-serif;
}

#motto {
    text-align: center;
    font-size: 3.0em;
    font-family: 'anybody', cursive;
    color: black;
    margin-top: 60px;
}

#head-bar {
    width: 100%;
    height: auto;
    display: inline-block;
    top: 0px;
    
}

#head-bar, nav {
    background: url("https://lamp-cop4331.skyclo.dev/images/black-marble-natural-pattern-background-abstract-black-white.jpg") repeat;
}

.nav-link {
    color: white;
}

#logo-image {
    margin: 10px;
}


#corner-logo {
    width: 11%;
    height: auto;
    float: left;
    border-right: solid grey;
    display: inline;
}

#COP {
    display: inline;
}

h3 {
    display: inline;
    width: 1vw;
}
#logo {
    width: 70%;
    height: 100%;
    float: left;
    border-radius: 50%;
    margin-left: 8px;
}

.logo-text {
    text-align: right;
    font-size: 2vw;
    color: white;
    font-family: monospace;
    margin: 8px 8px 0px 10px;
}

#brand-container {
    height: 100%;
    width: 80%;
    color: white;
    font-size: large;
    float: right;
}

#brand {
    margin-left: 160px;
    line-height: 87px;
}

#signIn {
    height: max-content;
    float: right;
    background-color: lightgrey;
    border: #9b9b9b groove;
}

#main {
    display: flex;
    align-items: flex-start;
}

#retUser {
    margin-left: 15px;
}

.info {
    display: flex;
    flex-direction: column;
    width: 69.1%;
    margin-left: 11.1%;
    margin-bottom: 100px;
    padding-bottom: 100px;
    background-color: lightgrey;
    border: 7px #898989  ridge;
}

#about {
    text-align: center;
    font-size: 2.0em;
    font-family: 'Montserrat', 'Lucida Console';
    margin: 0px 2vw 0px 2vw;
}

#regNow {
    font-size: 1.5em;
    margin-left: 50px;
    font-family: 'Montserrat';
}

#register-form {
    margin-left: 100px;
}

#register-form > input{
    margin-top: 12px;
    width: 60%;
}

#loginForm {
    margin-left: 1vw;
}

#loginForm > input {
    width : 85%;
}

#regButton {
    border-radius: 5px;
    margin-top: 5px;
    width: 9em;
    height: 1.8em;
}

#regButton:hover {
    background-color: #b5b5b5;
}

input {
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 16px;
}

h1 {
    font-family: 'Anybody', cursive;
    color: white;
    vertical-align: middle;
    display: inline-block;
    font-size: 4vw;
    padding: 30px 0px 0px 30px;
    text-shadow: rgb(71, 71, 71) 0px 3px;
}

#loginButton {
    border-radius: 10px;
    background-color: #B4B8DB;
    font-weight: 500;
    font-size: 24px;
    width: 50%;
    margin-bottom: 15px;
}
